<div class="center">
   <h1>Welcome to <br>"THE CHOSEN ONES"<br>task application<h1>

      <% if logged_in? %>
       <%= link_to "New Task!",   new_task_path,    class: "btn btn-lg btn-primary" %>
       <%= link_to "New Project", new_project_path,           class: "btn btn-lg btn-primary" %>
      <% else %>
       <%= link_to "Sign up now!", new_user_path,  class: "btn btn-lg btn-primary" %>
      <% end %>
</div>
