body {
  background-color: #ffffff;
  color:  #4d94ff;
  margin: 50px;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 15px;
  line-height: 18px;
  background-image: url(triangle.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

p, ol, ul, td {
  font-family: DejaVu Sans Mono, monospace;
  font-size: 20px;
  line-height: 20px;
  color: #0000ff;
}

li.home_page {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 40%;
  margin-left: -50px;
  top: 50%;
  margin-top: auto;
  font-family: Georgia, serif;
}

li.about_page {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: auto;
  font-family: Georgia, serif;
}

li.contact_page {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 60%;
  margin-left: -50px;
  top: 50%;
  margin-top: auto;
  font-family: Georgia, serif;
}

li.login_page {
  height: auto;
  width: auto;
  position: absolute;
  left: 90%;
  margin-left: -40px;
  top: 50%;
  margin-top: auto;
  font-family: Georgia, serif;
}

li.user_page {
  height: auto;
  width: auto;
  position: absolute;
  left: 85%;
  margin-left: -40px;
  top: 50%;
  margin-top: auto;
  font-family: Georgia, serif;
}

li.dropdown {
  height: auto;
  width: auto;
  position: absolute;
  left: 90%;
  margin-left: -40px;
  top: 50%;
  margin-top: auto;
  font-family: Georgia, serif;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #000000;
  }

  &:hover {
    color: #ffffff;
    background-color: transparent;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
  
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
